/* MainPage.css */

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;

   
}

.main-title {
    font-size: 120px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px white;
    font-family: cursive;

}

.button-container{
    background-color: #fff;
    padding: 0px 60px;
    padding-bottom: 70px;
   border-radius: 20px;
   border: 1px solid black;
   
    
}




