/* RegisterPage.css */

.register-background {
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  box-sizing: border-box;
  overflow: hidden; /* 👈 מונע גלילה ופסים */
}



.register-form-container {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 360px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}




.main-register-title {
  font-size: 36px;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 20px;
}

.group {
  position: relative;
  margin-bottom: 15px;
}

.input-box-register {
  font-size: 14px;
  padding: 6px;
  display: block;
  width: 100%; /* 👈 חובה שיהיה */
  max-width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}




.input-box-register:focus {
  outline: none;
}

.bar-register {
  position: relative;
  display: block;
  width: 300px;
}

.bar-register:before,
.bar-register:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
}

.bar-register:before {
  left: 50%;
}

.bar-register:after {
  right: 50%;
}

/* active state */
.input-box-register:focus ~ .bar-register:before,
.input-box-register:focus ~ .bar-register:after {
  width: 50%;
}

.highlight-register {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input-box-register:focus ~ .highlight-register {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.button {
  background-color: #5264AE;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}


.button:hover {
  background-color: #4a5c8d;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;
  max-width: 100%;
  margin-bottom: 20px;
}

.full-width {
  grid-column: span 2;
}
